body {
    margin: 0;
    line-height: 1.7;
    color: #364d59;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
}
.container {
    width: 1140px;
    margin: auto;
}
.header__content {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}
.header__logo {
    width: 73px;
}
.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav__item {
    display: inline;
    margin: 0;
}
.nav__link {
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    color: #000;
}
.section-main {
    background: url(/images/hero_1.jpg) no-repeat center/100%;
    width: 100%;
    height: calc(100vh - 196px);
    min-height: 677px;
}
.section-main__cover {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.section-main__content {
    display: flex;
    height: calc(100vh - 196px);
    min-height: 677px;
    width: 40%;
    color: white;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    z-index: 10;
}
.section-main__title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
}
.section-main__description {
    font-size: 15px;
}
.vid-des {
    font-size: 0.8rem;
}
.section-story__content {
    display: flex;
    margin: 50px 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15%;
}
.section-story__text {
    flex-basis: 49%;
}
.section-story__img {
    max-width: 49%;
}
.section__header {
    position: relative;
    margin-bottom: 5%;
}
.section__shadow {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    z-index: -1;
    margin: 0;
    color: #efefef;
    line-height: 1;
}
.section__uptitle {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: orange;
}
.section__title {
    margin: 0;
    font-size: 1.75rem;
}
.section-story__shadow {
    top: -20%;
}
.section-journey__header {
    text-align: center;
}
.section-journey__shadow {
    top: -20%;
    left: -5%;
}
.section-journey__title {
    text-align: center;
}
.section-journey__content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-journey__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-journey__card {
    max-width: 31.5%;
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;
}
.card__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 300ms all ease;
    transform: scale(1.05);
}
.section-journey__card:hover .card__img {
    transform: scale(1);
}
.card__content {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card_gradient {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.31) 47%, rgba(0, 0, 0, 0.65) 100%);
}
.card__price {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding: 5px 15px;
    background-color: #efba6c;
    letter-spacing: .2rem;
    border-radius: 30px;
}
.card__title {
    text-decoration: none;
    color: #fff;
    margin: 15px;
}
.section-team__header {
    text-align: center;
}
.section-team__shadow {
    top: -20%;
    left: -5%;
}
.section-team__title {
    text-align: center;
}
.section-team__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-team__persons {
    display: flex;
}